
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Custom media queries
@import "media-queries";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  	background-color: #fff;
  	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  	background-color: #ffffff;
}

ul {
	padding-left: 15px;
}

.btn-resource {
	margin-bottom: 15px;
}

.row {
	&.students,
	&.classes {
		margin-bottom: 30px;
	}

	&.cards {
		.card {
			height: 100%;
		}
	}
}

#app {
	margin-top: 30px;
}

